<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="settings">
    <img
      src="https://www.spica.si/steam/dynamic/W1siZmYiLCIvaG9tZS9yYWlscy9jbXMvcHVibGljL3NpdGVzLzVjZWE5MTNiMjRkMzVmMjUzYjI1YTU5NC9hc3NldHMvNjcyMGNlNDYyNGQzNWY3MDY1MTU3NDc4L1NwaWNhLWxvZ28td2ViLnBuZyJdLFsicCIsInRodW1iIiwiNDAweDEwMD4iXV0/995d04f5022c6e7d/Spica-logo-web.png"
      alt="Logotip"
      height="30"
    />
  </a>
  <a class="navbar-brand"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTog1"
    aria-controls="navbarTog1"
    aria-expanded="false"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTog1">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="absence">Absences</a
        >
      </li>
    </ul>
    <button type="button" class="btn navbar-btn" routerLink="/settings">Settings</button>
  </div>
</nav>