<footer class="footer text-center text-white">
  <div class="container p-3 pb-0">
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Špica International d.o.o.</span>
        <a
          href="https://www.spica.si"
          class="btn btn-outline-light btn-rounded"
          role="button"
        >
          About us
        </a>
      </p>
      <div>
        <p class="footer-title">Follow us on:</p>
        <section class="mb-4 d-flex justify-content-center gap-3">
          <a
            href="https://www.facebook.com/SpicaInternational"
            ><img
              width="40"
              alt="fb-icon"
              src="https://img.icons8.com/?size=100&id=118467&format=png&color=FFFFFF"
          /></a>
          <a
            href="https://www.linkedin.com/showcase/spica-international"
            ><img
              width="40"
              alt="linkedin-icon"
              src="https://img.icons8.com/?size=100&id=8808&format=png&color=FFFFFF"
          /></a>
          <a
            href="https://twitter.com/TimeSpaceTeam"
            ><img
              width="35"
              alt="twitter-icon"
              src="https://img.icons8.com/?size=100&id=A4DsujzAX4rw&format=png&color=FFFFFF"
          /></a>
          <a
            href="https://www.youtube.com/channel/UCkbJZqgIdVPdhb9r4_yrSyQ"
            ><img
              width="40"
              alt="yt-icon"
              src="https://img.icons8.com/?size=100&id=37326&format=png&color=FFFFFF"
          /></a>
        </section>
      </div>
    </section>
  </div>
  <div class="footer-btm text-center p-3">
    © 2025 SMihalic
  </div>
</footer>
